<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home screen</h1>
    <p>scan</p>
    <label for="manualEntry">
        Manual Entry
        <input type="text" id="foodName" name="foodName">
        <button type="submit" id="manualButton">Scan</button>
        <div id="searchResults" class="searchResults"></div>
    </label>
    <script src="../js/scan.js"></script>
</body>
</html>